@model MiIT.Models.Applicant

<div class="container">
    <h2>Edit Existing Applicant</h2>

    @using (Html.BeginForm())
    {
        <table>

            <tr><th>@Html.LabelFor(m => m.FullName)</th><td>@Html.EditorFor(m => m.FullName, new { htmlAttributes = new { placeholder = "Enter full name" } })@Html.ValidationMessageFor(m => m.FullName)</td></tr>
            <tr><th>@Html.LabelFor(m => m.DateOfBirth)</th><td>@Html.EditorFor(m => m.DateOfBirth)@Html.ValidationMessageFor(m => m.DateOfBirth)</td></tr>
            <tr>
                <th>@Html.LabelFor(m => m.Qualification)</th>
                <td>@Html.DropDownListFor(m => m.Qualification, Model.QualificationSelectList, "Select a Qualification", new { @id = "qualification-field" })@Html.ValidationMessageFor(m => m.Qualification)</td>
            </tr>
            <tr><th>@Html.LabelFor(m => m.Gpa)</th><td>@Html.EditorFor(m => m.Gpa, new { htmlAttributes = new { type = "number", step = "0.1", min = "0", max = "4", placeholder = "Enter GPA (minimum 3.0)" } })@Html.ValidationMessageFor(m => m.Gpa)</td></tr>
            <tr><th>@Html.LabelFor(m => m.University)</th><td>@Html.EditorFor(m => m.University, new { htmlAttributes = new { placeholder = "Enter university name" } })@Html.ValidationMessageFor(m => m.University)</td></tr>
            <tr><td colspan="2" class="button-container"><button type="submit">Update Applicant</button></td></tr>
        </table>
    }

    @Html.ValidationSummary()
</div>