@model IEnumerable<MiIT.Models.Applicant>

<div class="container">
    <h2>Applicant List (sorted by GPA)</h2>
    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Id)</th>
                <th>@Html.DisplayNameFor(m => m.FullName)</th>
                <th>@Html.DisplayNameFor(m => m.DateOfBirth)</th>
                <th>@Html.DisplayNameFor(m => m.Qualification)</th>
                <th>@Html.DisplayNameFor(m => m.Gpa)</th>
                <th>@Html.DisplayNameFor(m => m.University)</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var applicant in Model)
            {
                <tr>
                    <td>@applicant.Id</td>
                    <td>@applicant.FullName</td>
                    <td>@applicant.DateOfBirth?.ToShortDateString()</td>
                    <td>@applicant.Qualification</td>
                    <td>@applicant.Gpa</td>
                    <td>@applicant.University</td>
                    <td class="button-container">@Html.ActionLink("Edit", "Edit", "Applicant", new { @id = applicant.Id })</td>
                    <td class="button-container">@Html.ActionLink("Delete", "Delete", "Applicant", new { @id = applicant.Id }, new { onclick = $"return confirm('Are you sure you want to delete Applicant {applicant.Id}?');" })</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("Add New Applicant [+]", "Add")
</div>
